.storageContainer {
  margin-top: 20px;
}

.storageOptions {
  margin-top: 1rem;
}

.btnStorage {
  width: 80px;
  height: 40px;
  background-color: transparent;
  border: none;
  outline: thin solid #6669;
}

.selected {
  border: 1px solid #000;
}
