.phoneDetailsContainer {
  padding: 0.3rem;
  font-size: 0.7rem;
}

.detailsSelectionContainer {
  /* border: 3px solid green; */
}

.detailsContainer {
  /* border: 3px solid blue; */
}

.imageWrapper {
  width: 210px;
}

.phoneImage {
  width: 80%;
  max-width: 400px;
}

.title {
  font-size: 1.5rem;
  font-weight: lighter;
  margin-bottom: 1rem;
}

.price {
  font-size: 0.9rem;
  color: #666;
}

.addToCart {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  width: 100%;
}

.disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.carouselWrapper,
.specsWrapper {
  margin-top: 7em;
}
