.phonesContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  justify-content: center;
  border-top: 1px solid #0008;
  border-left: 1px solid #0008;
  background-color: #fff;
  transition: background-color 0.3s ease;
}
