.phonesContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  justify-content: center;
  border-top: 1px solid #0008;
  border-left: 1px solid #0008;
  background-color: #fff;
  transition: background-color 0.3s ease;
}

.phoneCard {
  position: relative;
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #0008;
  border-right: 1px solid #0008;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.phoneCard::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: #000;
  transition: height 1s cubic-bezier(0.2, 0.9, 0.3, 1);
  z-index: 0;
}

.phoneCard:hover::after,
.phoneCard:focus::after {
  height: 100%;
}

.imageWrapper {
  width: 210px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: white;
  padding: 0;
  margin-bottom: 2em;
}

.phoneImage {
  width: 100%;
  object-fit: contain;
  z-index: 20;
}

.phoneCard:nth-child(6) .phoneImage,
.phoneCard:nth-child(9) .phoneImage,
.phoneCard:nth-child(10) .phoneImage,
.phoneCard:nth-child(11) .phoneImage,
.phoneCard:nth-child(12) .phoneImage,
.phoneCard:nth-child(13) .phoneImage {
  max-width: 80%;
  max-height: 80%;
}
.phoneCard:nth-child(15) .phoneImage {
  max-width: 70%;
  max-height: 70%;
}

.phoneCard:nth-child(11) .phoneImage {
  max-width: 120%;
  max-height: 120%;
}

.phoneBrand {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #635353d8;
  margin: 1rem 0;
  font-size: 0.9rem;
}

.phoneName {
  position: absolute;
  bottom: 0;
  left: 10px;
}

.phonePrice {
  position: absolute;
  bottom: 0;
  right: 10px;
}

.phoneCard:hover::after,
.phoneCard:focus::after {
  height: 100%;
}

.phoneBrand,
.phoneName,
.phonePrice {
  transition: color 0.9s ease;
  z-index: 10;
  opacity: 1;
}

.phoneCard:hover .phoneName,
.phoneCard:hover .phonePrice {
  color: #fff;
}
.phoneCard:hover .phoneBrand {
  color: #635353d8;
}
