.carouselContainer {
  width: 100%;
  padding: 20px;
  overflow: hidden;
}

.itemsTitle {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.carousel {
  display: flex;
  gap: 15px;
  scroll-behavior: smooth;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  padding-bottom: 10px;
}

.carouselItem {
  border-top: 1px solid #000;
  border-left: 1px solid #000;
}
