* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 1em;
}

.navbarLink {
  text-decoration: none;
  color: #000;
}

.bigImg {
  max-width: 80%;
  max-height: 80%;
}
.biggerImg {
  max-width: 70%;
  max-height: 70%;
}
.littleImg {
  max-width: 120%;
  max-height: 120%;
}
